<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>
    <h1>Book Search</h1>
  </header>

  <form action="/searches" method="POST">
    <fieldset>
      <legend>Search for a Book</legend>
      <li><input type="text" name = "userInput" placeholder= "Title or Author">
      </li>
      <li id="title"><input type="radio"  value="title" name = "selection" >Title</li>>
      <li id="author"><input type="radio"  value="author" name = "selection" >Author</li>>
      <li id="submit"><input type="submit"  value="submit" ></li>>
    </fieldset>
  </form>
</body>
</html>